<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>ArchyMap</h3>
    <div id="map"></div>
    <script>
      var artifacts = []
      artifacts.push({lat: 41, lng: -85})
      artifacts.push({lat: 42, lng: -85})
      artifacts.push({lat: 43, lng: -85})
      artifacts.push({lat: 44, lng: -85})

      function initMap() {
        var uluru = {lat: 40, lng: -86};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: uluru,
          streetViewControl: false
        });

        //render the makers
        for (var i = 0; i < artifacts.length; i++) {
          var marker = new google.maps.Marker({
            position: artifacts[i],
            map: map
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDN43GXaDBm0mv0A14f4tCy-6IuSUpncEY&callback=initMap">
    </script>
  </body>
</html>