body{
  background-color: #F0DF82
}
  #map {
  height: 700px;
  width: 70%;
  margin: auto;
}
h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 36pt;
}
ul {
  list-style-type:none;
}
#top-banner {
  padding-top: 30px;
  margin: auto;
  
  width: 70%;
  height : 200px;
  text-align: center;
  background-color: #AD550C;
  color: #F0DF82;
}

#sign-in{
  width: 80%;
  height: 50px;
  margin: auto;
  position: fixed;
  bottom: 0;
  padding-left: 50px;
}
  

